@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Assistant", sans-serif;
    text-align: center;
}

img {
    width: 300px;
    height: auto;
    border-radius: 20px;
    margin: 20px 0;
}

body {
    background-color: #0b1e3d;
    scroll-behavior: smooth;
    margin: 0 auto;
}

.header {
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    background-color: #ffe7c4;
}

.logo {
    width: 100%;
    height: 80px;
    background-image: url(../logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFF;
}

.divider {
    fill: #FFF;
}

.divider svg {
    width: 100%;
    height: 50px;
}

.title1 {
    color: #FFF;
    border-radius: 100px;
    background-color: #3b7fd7;
    padding: 4px 28px;
    margin: 8px;
    display: inline-block;
    font-size: 40px;
    animation: ctaButton 1s alternate infinite;
    -webkit-animation: ctaButton 1s alternate infinite;
}

.content {
    text-align: center;
    padding: 30px;
    background-color: #FFF;
    background-image: linear-gradient(0deg, #6cd1ff, #d5ecff);
    color: #148ae8;
}

.middle-content {
    color: #FFF;
    text-align: center;
    background: linear-gradient(0deg, #00bfff, #0061ffAA);
    flex-direction: row;
    border-radius: 50px;
    width: 100%;
    max-width: 994px;
    margin: 40px auto;
    min-height: 500px;

}

.imagine-content {
    background: linear-gradient(0deg, #00bfff, #0061ffAA), url(../stairs.jpeg);
    background-position: center center, 50% 0;
    background-repeat: no-repeat;
    font-size: 20px;
    font-weight: 600;
    padding: 30px;
    padding-top: 60px;
    color: #d1e7ff;
    margin: 0 auto;
    margin-top: -50px;
    border-bottom: 2px solid #adc4ff;
    box-shadow: 0 15px 15px -10px #2e8bff;
}

.imagine-content p {
    text-align: right;
    padding: 10px 0px;
    max-width: 500px;
    margin: 0 auto;
    animation: ctaButton 1s infinite alternate-reverse;
    -webkit-animation: ctaButton 1s infinite alternate-reverse;
}

.imagine-content p i {
    margin-left: 10px;
}

.imagine-content p:nth-child(2n) {
    color: #34f4ff;
}

.register-form {
    background-color: #03A9F4;
    border-radius: 20px;
    background-image: linear-gradient(0deg, #00bfff, #0061ffAA);
    box-shadow: 0 0 20px #03bfff33;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 30px;
    max-width: 994px;
    color: #d1e7ff;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
}

.register-form::before {
    content: '';
    border-radius: 15px;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 4px dashed #FFF;
    pointer-events: none;
}

.register-form .title {
    border-bottom: 2px dashed #FFF;
}

body>h1,
body>h2,
body>h3,
body>h4,
body>h5,
body>h6 {
    color: #FFF;
    margin: 20px;
    text-shadow: 0 0 20px #FFFA
}

body>h2 {
    color: #2196F3;
    text-shadow: 0 0 20px #2196F3;
}

.middle-content h2 {
    padding: 60px 0;
    font-size: 35px;
}

.middle-content h2:not(:last-child) {
    border-bottom: 2px solid #FFF4;
}

.splitter {
    height: 1px;
    background-color: #FFF2;
    width: 50%;
    margin: 0 auto;
}

input[type="text"] {
    text-align: right;
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    color: #FFF;
    border: 2px solid #FFF;
    outline: none;
    box-shadow: 0 0 10px #FFF8, 0 0 10px #FFF8 inset;
}

input[type="text"]::placeholder {
    color: #FFFB;
}

button.submit-button {
    width: 100%;
    padding: 10px;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 35px;
    background-color: #E91E63;
    /* background-color: #FFF; */
    background-image: linear-gradient(45deg, #FF5722, transparent);
    /* background-image: linear-gradient(45deg, #8ddcff, transparent); */
    border: none;
    font-weight: bold;
    box-shadow: 0 0 20px #E91E63;
    /* box-shadow: 0 0 20px #9de1ff; */
    color: #FFF;
    /* text-shadow: 0 2px  2px#0002; */
}

button.cta {
    padding: 15px 30px;
    font-size: 40px;
    margin-top: 40px;
    border-radius: 20px;
    background-color: #E91E63;
    background-image: linear-gradient(45deg, #FF5722, transparent);
    border: none;
    font-weight: bold;
    box-shadow: 0 0 10px #E91E63AA;
    color: #FFF;
    text-shadow: 0 2px 2px #0002;
    cursor: pointer;
    animation: ctaButton 1s alternate infinite;
    -webkit-animation: ctaButton 1s alternate infinite;
}

/* wavy line */
.wave-container {
    position: relative;
}

.wave-container svg {
    width: 100%;
}

.wave-container svg path {
    stroke-dasharray: 0 500;
}

.wave-container svg.active path {
    animation: lineDash 1.2s forwards;
    -webkit-animation: lineDash 1.2s forwards;
}

@keyframes lineDash {
    0% {
        stroke-dasharray: 0 500;
    }
    100% {
        stroke-dasharray: 400 500;
    }
}

@media (max-width: 767px) {
    .content {
        padding: 10px;
    }

    .register-form,
    .middle-content {
        padding: 20px;
        border-radius: 20px;
    }

    .middle-content {
        border-radius: 0 0 20px 20px;
        margin-top: -50px;
        background-size: auto 150%;
    }

    .middle-content h2 {
        font-size: 30px;
        padding: 30px 0;
    }

    button.cta {
        font-size: 25px;
    }

    .title1 {
        font-size: 30px;
    }
}

@keyframes ctaButton {
    from {
        scale: 1.05;
    }

    to {
        scale: 1;
    }
}